<base href="http:\\www.google.es" target="_self" />

<hr />
<p><a href="ficheroFran.txt" title="Archivo de Fran" target="new">Archivo de fran</a></p>
<hr />
<p><a href="mailto:francisco.gonzalez@alten.es">Correo a Fran</a></p>
<p><img src="imagen-corporativa-tagticaweb.jpg" width="441" height="269" alt="Imagen1" /></p>
<nav>
	<a href="">Menú sup 1</a>
	<a href="">Menú sup 2</a>
	<a href="">Menú sup 3</a>
</nav>
<section id="banner">
				<h1>Welcome to Theory - 1234567</h1>
				<p>A free responsive HTML5 website template by TEMPLATED.</p>
</section>
<nav>
	<a href="">Menú 1</a>
	<a href="">Menú 2</a>
	<a href="">Menú 3</a>
</nav>
<address>Vivo con mi madre, en un castillo...</address>
<hr />
<p><a href="ficheroFran2.txt" title="Archivo de Fran 2" target="new">Archivo de fran 2</a></p>
<hr />